/.idea
/.vscode
/.backup
/.dockerignore
/.gitignore
/.npmignore
/.history
/.nyc_output
/.nycrc
/.prettierrc.json
/node_modules
/npm-debug.log
.DS_Store
webpack.config.js
tsconfig.*
tslint.json
docker-compose.*
gulpfile.js
/lib/test
